<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Nos Artistes Peintres</h2>
      <p>Retrouvez les dernières contributions</p>
    </div>

    <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <!-- début de boucle user -->
        {% for peintre in peintres %}

        <div class="swiper-slide">
          <div class="testimonial-item pb-0">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{peintre.aPropos}}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{{ asset('build/testimonials/testimonials-1.jpg') }}" class="testimonial-img" alt="">
            <h3>{{peintre.nom}} {{peintre.prenom}}</h3>
            <a class="btn btn-get-started animate__animated animate__fadeInUp scrollto" href="{{ path('a-propos-peintre',{'id':peintre.id})}}">en savoir plus...</a>
          </div>
        </div>
        {% endfor %}
        <!-- fin de boucle users -->
        <!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->