{% extends 'base.html.twig' %}

{% block title %}Peinture{% endblock %}

{% block body %}
{% include "admin/admin-features.html.twig" %}
<!-- ======= Container Section ======= -->
<section>
    <div class="container">
        <h1>Peinture</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ peinture.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ peinture.nom }}</td>
                </tr>
                <tr>
                    <th>Largeur</th>
                    <td>{{ peinture.largeur }}</td>
                </tr>
                <tr>
                    <th>Hauteur</th>
                    <td>{{ peinture.hauteur }}</td>
                </tr>
                <tr>
                    <th>EnVente</th>
                    <td>{{ peinture.enVente ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ peinture.prix }}</td>
                </tr>
                <tr>
                    <th>DateRealisation</th>
                    <td>{{ peinture.dateRealisation ? peinture.dateRealisation|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ peinture.createdAt ? peinture.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ peinture.description }}</td>
                </tr>
                <tr>
                    <th>Portfolio</th>
                    <td>{{ peinture.portfolio ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ peinture.slug }}</td>
                </tr>
                <tr>
                    <th>File</th>
                    <td>{{ peinture.file }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('admin_peinture_index') }}">back to list</a>

        <a href="{{ path('admin_peinture_edit', {'id': peinture.id}) }}">edit</a>

        {{ include('admin/admin_peinture/_delete_form.html.twig') }}
    </div>
</section>
{% endblock %}